<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Font+Awesome+5+Free:wght@900&display=swap" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="hero">
        <div class="Frame">
          <div class="logo">
            <div class="Frame-1"></div>
            <div class="Frame-2">
              <div class="Frame-3">
                <div class="Frame-4">
                  <span class="Sizzlars">Sizzlars</span>
                  <div class="Frame-5">
                    <span class="Food-Delivery">Food Delivery</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Frame-6">
            <div class="Frame-7"></div>
            <span class="Track-order">Track order</span
            ><span class="Order-now">Order now</span
            ><span class="Drinks">Drinks</span><span class="Menu">Menu</span>
          </div>
        </div>
        <div class="Frame-8">
          <span class="Sizzlars-9">Sizzlars</span
          ><span class="where-flavors-dance-and-moments-become-memories">
            where flavors dance and moments become memories.<br />
            Unleash your palate in a symphony of taste and<br />
            join us for an extraordinary dining experience!"</span
          >
          <div class="Rectangle"></div>
        </div>
        <div class="Mask-group"></div>
      </div>
      <div class="How-Does-It-Work">
        <span class="Title">How does it work</span>
        <div class="Features">
          <div class="Frame-a">
            <div class="Icons">
              <div class="Map-Marker"><div class="Icon"></div></div>
            </div>
            <div class="Texts">
              <span class="Title-b">Select location</span
              ><span class="Body"
                >Choose the location where your food will be delivered.</span
              >
            </div>
          </div>
          <div class="Frame-c">
            <div class="Icons-d">
              <div class="Menu-e"><div class="menu"></div></div>
            </div>
            <div class="Texts-f">
              <span class="Title-10">Choose order</span
              ><span class="Body-11"
                >Check over hundreds of menus to pick your favorite food</span
              >
            </div>
          </div>
          <div class="Frame-12">
            <div class="Icons-13"><div class="Invoice"></div></div>
            <div class="Texts-14">
              <span class="Title-15">Pay advanced</span
              ><span class="Body-16"
                >It's quick, safe, and simple. Select several methods of
                payment</span
              >
            </div>
          </div>
          <div class="Frame-17">
            <div class="Icons-18">
              <div class="Donut"><div class="donut"></div></div>
            </div>
            <div class="Texts-19">
              <span class="Title-1a">Enjoy meals</span
              ><span class="body"
                >Food is made and delivered directly to your home.</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="available-today">
        <span class="available-today-1b">Available Today</span>
        <div class="popular-items">
          <div class="title-cards">
            <div class="cards">
              <div class="wrapper-8">
                <div class="image-title">
                  <div class="frame"><div class="rectangle"></div></div>
                  <div class="name-location-price">
                    <div class="name-location">
                      <span class="name">Cheese Burger</span>
                      <div class="location">
                        <span class="icon">map-marker-alt</span
                        ><span class="text">Burger Arena</span>
                      </div>
                    </div>
                    <div class="price"><span class="dollar">$3.88</span></div>
                  </div>
                </div>
                <div class="button"><span class="text-1c">Order Now</span></div>
              </div>
              <div class="section-9">
                <div class="image-title-1d">
                  <div class="frame-1e"><div class="rectangle-1f"></div></div>
                  <div class="name-location-price-20">
                    <div class="name-location-21">
                      <span class="name-22">Toffe’s Cake</span>
                      <div class="location-23">
                        <span class="icon-24">map-marker-alt</span
                        ><span class="text-25">Top Sticks</span>
                      </div>
                    </div>
                    <div class="price-26">
                      <span class="dollar-27">$4.00</span>
                    </div>
                  </div>
                </div>
                <div class="button-28">
                  <span class="text-29">Order Now</span>
                </div>
              </div>
              <div class="group-13">
                <div class="image-title-2a">
                  <div class="frame-2b"><div class="rectangle-2c"></div></div>
                  <div class="name-location-price-2d">
                    <div class="name-location-2e">
                      <span class="name-2f">Dancake</span>
                      <div class="location-30">
                        <span class="icon-31">map-marker-alt</span
                        ><span class="text-32">Cake World</span>
                      </div>
                    </div>
                    <div class="price-33">
                      <span class="dollar-34">$1.99</span>
                    </div>
                  </div>
                </div>
                <div class="button-35">
                  <span class="text-36">Order Now</span>
                </div>
              </div>
              <div class="section-c">
                <div class="image-title-37">
                  <div class="frame-38"><div class="rectangle-39"></div></div>
                  <div class="name-location-price-3a">
                    <div class="name-location-3b">
                      <span class="name-3c">Crispy Sandwitch</span>
                      <div class="location-3d">
                        <span class="icon-3e">map-marker-alt</span
                        ><span class="text-3f">Fastfood Dine</span>
                      </div>
                    </div>
                    <div class="price-40">
                      <span class="dollar-41">$3.00</span>
                    </div>
                  </div>
                </div>
                <div class="button-42">
                  <span class="text-43">Order Now</span>
                </div>
              </div>
              <div class="wrapper-f">
                <div class="image-title-44">
                  <div class="frame-45"><div class="rectangle-46"></div></div>
                  <div class="name-location-price-47">
                    <div class="name-location-48">
                      <span class="name-49">Thai Soup</span>
                      <div class="location-4a">
                        <span class="icon-4b">map-marker-alt</span
                        ><span class="text-4c">Foody man</span>
                      </div>
                    </div>
                    <div class="price-4d">
                      <span class="dollar-4e">$2.79</span>
                    </div>
                  </div>
                </div>
                <div class="button-4f">
                  <span class="text-50">Order Now</span>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-button">
            <div class="arrow-left">
              <span class="icon-51">chevron-left</span>
            </div>
            <div class="arrow-right">
              <span class="icon-52">chevron-right</span>
            </div>
          </div>
        </div>
        <span class="combos">Combos</span>
        <div class="combos-53">
          <div class="title-cards-54">
            <div class="cards-55">
              <div class="box-14">
                <div class="image-title-56">
                  <div class="frame-57"><div class="rectangle-58"></div></div>
                  <div class="name-location-price-59">
                    <div class="name-location-5a">
                      <span class="name-5b">Cheese Burger</span>
                      <div class="location-5c">
                        <span class="icon-5d">map-marker-alt</span
                        ><span class="text-5e">Burger Arena</span>
                      </div>
                    </div>
                    <div class="price-5f">
                      <span class="dollar-60">$3.88</span>
                    </div>
                  </div>
                </div>
                <div class="button-61">
                  <span class="text-62">Order Now</span>
                </div>
              </div>
              <div class="section-17">
                <div class="image-title-63">
                  <div class="frame-64"><div class="rectangle-65"></div></div>
                  <div class="name-location-price-66">
                    <div class="name-location-67">
                      <span class="name-68">Toffe’s Cake</span>
                      <div class="location-69">
                        <span class="icon-6a">map-marker-alt</span
                        ><span class="text-6b">Top Sticks</span>
                      </div>
                    </div>
                    <div class="price-6c">
                      <span class="button-6d">$4.00</span>
                    </div>
                  </div>
                </div>
                <div class="text-6e">
                  <span class="order-now">Order Now</span>
                </div>
              </div>
              <div class="group-1d">
                <div class="image-title-6f">
                  <div class="frame-70"><div class="rectangle-71"></div></div>
                  <div class="name-location-price-72">
                    <div class="name-location-73">
                      <span class="name-74">Dancake</span>
                      <div class="location-75">
                        <span class="icon-76">map-marker-alt</span
                        ><span class="text-77">Cake World</span>
                      </div>
                    </div>
                    <div class="price-78">
                      <span class="button-79">$1.99</span>
                    </div>
                  </div>
                </div>
                <div class="text-7a">
                  <span class="order-now-7b">Order Now</span>
                </div>
              </div>
              <div class="group-1f">
                <div class="image-title-7c">
                  <div class="frame-7d"><div class="rectangle-7e"></div></div>
                  <div class="name-location-price-7f">
                    <div class="name-location-80">
                      <span class="name-81">Crispy Sandwitch</span>
                      <div class="location-82">
                        <span class="icon-83">map-marker-alt</span
                        ><span class="text-84">Fastfood Dine</span>
                      </div>
                    </div>
                    <div class="price-85">
                      <span class="button-86">$3.00</span>
                    </div>
                  </div>
                </div>
                <div class="text-87">
                  <span class="order-now-88">Order Now</span>
                </div>
              </div>
              <div class="section-21">
                <div class="image-title-89">
                  <div class="frame-8a"><div class="rectangle-8b"></div></div>
                  <div class="name-location-price-8c">
                    <div class="name-location-8d">
                      <span class="name-8e">Thai Soup</span>
                      <div class="location-8f">
                        <span class="icon-90">map-marker-alt</span
                        ><span class="text-91">Foody man</span>
                      </div>
                    </div>
                    <div class="price-92">
                      <span class="button-93">$2.79</span>
                    </div>
                  </div>
                </div>
                <div class="button-94">
                  <span class="text-95">Order Now</span>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-button-96">
            <div class="arrow-left-97">
              <span class="icon-chevron-left">chevron-left</span>
            </div>
            <div class="arrow-right-98">
              <span class="icon-chevron-right">chevron-right</span>
            </div>
          </div>
        </div>
      </div>
      <div class="rectangle-99">
        <div class="rectangle-9a">
          <span class="order-now-9b">Order Now</span>
          <div class="food-select">
            <div class="rectangle-9c"></div>
            <div class="dropdown"></div>
            <span class="jollof-rice">Jollof Rice</span>
          </div>
          <div class="drinks-select">
            <div class="rectangle-9d"></div>
            <div class="dropdown-9e"></div>
            <span class="coke">Coke</span>
          </div>
          <div class="frame-9f">
            <span class="toppings">Toppings</span>
            <div class="frame-a0">
              <div class="rectangle-a1"></div>
              <span class="egg">egg</span>
            </div>
            <div class="frame-a2">
              <div class="rectangle-a3"></div>
              <span class="extra-meat">extra meat</span>
            </div>
            <div class="frame-a4">
              <div class="rectangle-a5"></div>
              <span class="chicken">chicken</span>
            </div>
            <div class="frame-a6">
              <div class="rectangle-a7"></div>
              <span class="plantain">Plantain</span>
            </div>
            <div class="frame-a8">
              <div class="rectangle-a9"></div>
              <span class="coslow">Coslow</span>
            </div>
            <div class="frame-aa">
              <div class="rectangle-ab"></div>
              <span class="sauce">Sauce</span>
            </div>
          </div>
          <div class="button-ac">
            <span class="text-ad">order</span
            ><span class="icon-chevron-right-ae">CHEVRON-RIGHT</span>
          </div>
        </div>
        <div class="flex-column-b">
          <div class="ellipse"></div>
          <div class="ellipse-af"></div>
        </div>
        <div class="ellipse-b0"></div>
        <div class="ellipse-b1"></div>
      </div>
      <div class="rectangle-b2"></div>
    </div>
  </body>
</html>
