<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sizzler's !!1</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="flex-row-bb">
        <div class="frame">
          <div class="frame-1">
            <div class="frame-2"><div class="frame-3"></div></div>
            <div class="group">
              <div class="flex-row-e">
                <div class="emojione-star"></div>
                <div class="emojione-star-4"></div>
                <div class="emojione-star-5"></div>
                <div class="emojione-star-6"></div>
                <div class="star"></div>
              </div>
              <div class="star-rating-based">
                <span class="star-rating">5 star rating<br /></span
                ><span class="based-on-reviews">based on 1788 reviews</span>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-7">
          <div class="frame-8">
            <div class="frame-9"><div class="frame-a"></div></div>
            <div class="group-b">
              <div class="flex-row-c">
                <div class="star-c"></div>
                <div class="star-d"></div>
                <div class="star-e"></div>
                <div class="star-f"></div>
                <div class="star-10"></div>
              </div>
              <div class="star-rating-reviews">
                <span class="star-rating-11">5 star rating<br /></span
                ><span class="based-on-reviews-12">based on 1788 reviews</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-13">
        <div class="converted"></div>
        <span class="track-meals"
          >Track your meals at real time and wait for our quick deliverer
          courier with your delicious delight!</span
        >
      </div>
      <div class="flex-row">
        <div class="frame-14">
          <div class="frame-15"><span class="sign-up">Sign Up</span></div>
          <span class="log-in">Log In</span>
        </div>
        <div class="frame-16"><div class="chef-hat"></div></div>
        <div class="frame-17">
          <div class="frame-18">
            <span class="sizzlars">Sizzlars</span>
            <div class="frame-19">
              <span class="food-delivery">Food Delivery</span>
            </div>
          </div>
          <div class="frame-1a">
            <span class="snacks">Snacks.</span
            ><span class="brunch">Brunch.</span
            ><span class="breakfast">Breakfast.</span
            ><span class="swallow">Swallow.</span
            ><span class="drinks">Drinks.</span>
          </div>
        </div>
        <div class="group-1b"></div>
        <div class="vector"></div>
        <div class="paper-plane"></div>
      </div>
      <div class="frame-1c">
        <div class="frame-1d"><span class="track-order">Track Order</span></div>
        <div class="rectangle"></div>
      </div>
    </div>
    <!-- Generated by Codia AI - https://codia.ai/ -->
  </body>
</html>